header {
    display: flex;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 40px;
    text-align: center; 
}

h1 {
    margin: 0;
    flex-grow: 1;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.title{
    background-color: rgb(45, 1, 11); 
}
.actor-image {
    margin-top: 10px;
    text-align: center;
    background-color: #100c0c; 
    padding: 10px;
}

.actor-image img {
    width: 250px;
    height: auto;
    border-radius: 10px;
}

.actor-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px; 
    background-color: #ece3e2; 
    padding: 20px; 
}

.actor-info {
    width: 75%;
    text-align: justify;
}

.actor-info h2 {
    text-align: justify; 
    text-decoration: underline; 
}

.actor-info p {
    text-align: justify;
}

footer {
    background-color: rgb(0, 0, 0); 
    color: white;
    text-align: center;
    padding: 20px;
}