body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around; 
    background-color: black;
    color: #fff;
    padding: 20px;
    font-size: 20px;
}

.logo img {
    width: 150px;
    height: 100px;
}

nav ul li {
    display:inline;
    margin-right: 20px;
}

nav a {
    text-decoration:#fff;
    color: rgb(240, 236, 236);
}

main {
    padding: 0px;
    display: inline-flexbox;
    align-items: center;
}

.intro {
    background-image: url('backg.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(236, 230, 230);
    padding: 175px 50px;
    text-align: center;
    font-size: 30px;
}

.actor-list {
    text-align: center;
}

.actor-list .actors {
    display:flex;
    flex-wrap:initial;
    justify-content: center;
}

.actor {
    margin: 50px;
    transition: transform 0.3s ease;
}
.actor:hover{
    transform: translateY(-20px);
}

.actor img {
    width: 150px;
    height: 150px;
    object-fit:fill;
    border-radius: 50%;
}

footer {
    background-color:black;
    color:white;
    text-align: center;
    padding: 20px;
}